<div class="home-page">
    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your <i>Angular</i> knowledge.</p>
          </div>
        </div>
    <div class="row">
        <div class="container page">
            <div class="col-md-9">
                <div class="feed-toggle">
                  <ul class="nav nav-pills outline-active">
                    <li class="nav-item">
                      <a class="nav-link  active" [routerLink]="['/feed']" routerLinkActive="active">
                         Your Feed
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link inactive" routerLink="/" routerLinkActive="active">
                         Global Feed
                      </a>
                    </li>                  
                  </ul>
                  <article-list  [articles]="articles"></article-list>
              </div>
            </div>
        </div>
    </div>
</div>
